# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#added by naturkach
#www/css allow only .css
/www/css/*
!/www/css/*.css

#www/js only .js
/www/js/*
!/www/js/*.js

#www/min only -min in name
/www/min/*
!/www/min/*-min*

#allow png/jpg/jpeg files only in www/img folder
/www/img/*
!/www/img/*.png
!/www/img/*.jpg
!/www/img/*.jpeg

#exclude .code folder for all repo ?
/.code/**
